html {
background:;
}

body {
background:; 
max-width:1000px; 
margin:auto;
color:#FFFFFF;
font-size:12px;
line-height:10px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
padding-top: 20px; 
padding-bottom: 20px;
scrollbar-base-color:#9EBDD1;
scrollbar-track-color:#9CBBCF;
scrollbar-highlight-color:#9EBDD1; 
scrollbar-3dlight-color:#FFFBF3; 
scrollbar-shadow-color:#9EBDD1; 
scrollbar-darkshadow-color:#FFFBF3; 
scrollbar-arrow-color:#FFFBF3;
}

#content { 
max-width:1000px;
margin:auto;
border: 1px solid #FFFBF3; 
-moz-border-radius: 10px 0px 15px 0 px; 
border-radius: 10px 0 15px 0;
-moz-box-shadow: 3px 3px 5px 1px #30517A;
-webkit-box-shadow: 3px 3px 5px 1px  #30517A;
   box-shadow: 3px 3px 5px 1px #30517A;
background: #FFFBF3; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBF3', endColorstr='#9EBDD1'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFBF3), to(#9EBDD1)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FFFBF3,  #9EBDD1); /* for firefox 3.6+ */
padding: 20px 20px 20px 20px;
}

#info {
margin-left:auto; margin-right:auto;
padding: 0 20 20 20;
position:relative;
max-width:760px;
background: #FFFBF3; 
border: 1px solid #30517A; 
-moz-border-radius: 10px 0px 15px 0 px; 
border-radius: 10px 0 15px 0;
-moz-box-shadow: 3px 3px 5px 1px #30517A;
-webkit-box-shadow: 3px 3px 5px 1px  #30517A;
   box-shadow: 3px 3px 5px 1px #30517A;
background: #FFFBF3; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBF3', endColorstr='#9EBDD1'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFBF3), to(#9EBDD1)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FFFBF3,  #9EBDD1); /* for firefox 3.6+ */
}
.column{
position:relative;
-moz-column-count:2;/* Firefox */
-moz-column-gap: 10px;
-webkit-column-count:2; /* Safari and Chrome */
-webkit-column-gap:10px;
column-count:2;
column-gap:10px;
max-width: 800px;
margin-left:auto; margin-right: auto;
}

.box {
margin-left:auto; margin-right:auto;
padding: 0 20 20 20;
position:relative;
max-width:760px;
background: #FFFBF3; 
border: 1px solid #30517A; 
-moz-border-radius: 10px 0px 15px 0 px; 
border-radius: 10px 0 15px 0;
-moz-box-shadow: 3px 3px 5px 1px #30517A;
-webkit-box-shadow: 3px 3px 5px 1px  #30517A;
   box-shadow: 3px 3px 5px 1px #30517A;
background: #FFFBF3; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBF3', endColorstr='#9EBDD1'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFBF3), to(#9EBDD1)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FFFBF3,  #9EBDD1); /* for firefox 3.6+ */
}


#horses {
overflow: auto;
margin-left:auto; margin-right:auto;
position:relative;
max-width:800px;
height:200px;
scrollbar-base-color:#9EBDD1;
scrollbar-track-color:#9EBDD1;
scrollbar-highlight-color:#9EBDD1; 
scrollbar-3dlight-color:#30517A; 
scrollbar-shadow-color:#9EBDD1; 
scrollbar-darkshadow-color:#30517A; 
scrollbar-arrow-color:#30517A;
background: #FFFBF3; 
border: 1px solid #30517A; 
-moz-border-radius: 10px 0px 15px 0 px; 
border-radius: 10px 0 15px 0;
-moz-box-shadow: 3px 3px 5px 1px #30517A;
-webkit-box-shadow: 3px 3px 5px 1px  #30517A;
   box-shadow: 3px 3px 5px 1px #30517A;
background: #FFFBF3; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBF3', endColorstr='#9EBDD1'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFBF3), to(#9EBDD1)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FFFBF3,  #9EBDD1); /* for firefox 3.6+ */
text-align: center;
padding: 0 20 20 20;
}

#horses table{
border-collapse:collapse;
-moz-box-shadow: 3px 3px 5px 1px #30517A;
-webkit-box-shadow: 3px 3px 5px 1px  #30517A;
box-shadow: 3px 3px 5px 1px #30517A;
}

#horses table,th,td{
padding: 5px;
border: 1px solid #30517A; 
-moz-border-radius: 10px 0px 15px 0 px; 
border-radius: 10px 0 15px 0;
}

#horses th{
font-weight: bold;
text-align: center;
text-shadow: 0px 0px 2px#FFFBF3;
letter-spacing:4px;
text-transform: capitalize; 
background: #FFFBF3; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBF3', endColorstr='#9EBDD1'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFBF3), to(#9EBDD1)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FFFBF3,  #9EBDD1); /* for firefox 3.6+ */
}

#horses td{
color:#FFFFFF;
font-size:12px;
line-height:10px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.padding{padding:20px;}

table{
border-collapse:collapse;
-moz-box-shadow: 3px 3px 5px 1px #30517A;
-webkit-box-shadow: 3px 3px 5px 1px  #30517A;
box-shadow: 3px 3px 5px 1px #30517A;
}

table,th,td{
padding: 5px;
border: 1px solid #30517A; 
-moz-border-radius: 10px 0px 15px 0 px; 
border-radius: 10px 0 15px 0;
}

th{
font-weight: bold;
text-align: center;
text-shadow: 0px 0px 2px#FFFBF3;
letter-spacing:4px;
text-transform: capitalize; 
background: #FFFBF3; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBF3', endColorstr='#9EBDD1'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FFFBF3), to(#9EBDD1)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FFFBF3,  #9EBDD1); /* for firefox 3.6+ */
}

td{
color:#FFFFFF;
font-size:12px;
line-height:10px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
text-align:center;
}





h1 {
color:#30517A;
font-size:14px;
line-height:12px;
text-align:center;
border-width: 0px 0px 1px 0px;
border-style:solid;
border-color:#9EBDD1;
margin: 15px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-weight: bold;
font-style: normal;
text-transform: uppercase;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
text-shadow: 0px 0px 3px#FFFBF3; 
letter-spacing:4px;
}

h2 {
color:#30517A;
font-size:14px;
line-height:12px;
text-align:center;
border-width: 0px 0px 1px 0px;
border-style:solid;
border-color:#9EBDD1;
margin: 15px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-weight: bold;
font-style: normal;
text-transform: uppercase;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
text-shadow: 0px 0px 3px#FFFBF3; 
letter-spacing:4px;
}

big{
color:#30517A;
font-size:12px;
line-height:10px;
text-align:left;
border-width: 0px 0px 0px 0px;
border-style:solid;
border-color:#9EBDD1;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-weight: bold;
font-style: normal;
text-transform: capitalize;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
text-shadow: 0px 0px 0px#FFFBF3; 
letter-spacing:1px;
}

input {
background: #9EBDD1;
text-transform: uppercase;
border: 2px ridge #30517A; 
text-decoration: bold; 
color:#FFFBF3; 
text-shadow: 0px 0px 3px#FFFBF3;
webkit-transition-duration: 1s, 1s;
 -webkit-transition-timing-function: linear, ease-in;
 -webkit-transition: color 1s ease-in;
}

input:hover {
background: #9EBDD1;
text-transform: lowercase;
text-decoration: bold; 
color:#e0f1ee; t
ext-shadow: 0px 0px 3px#FFFFFF;
webkit-transition-duration: 1s, 1s;
 -webkit-transition-timing-function: linear, ease-in;
 -webkit-transition: color 1s ease-in;
filter: alpha(opacity=70);
moz-opacity:.70;
opacity:.70;
-webkit-transition-duration: .25s; 
border: 2px groove #EBF0FF
}

A:link {
text-decoration: bold; 
color:#9CBBCF; 
text-shadow: 0px 0px 3px#FFFBF3;
-webkit-transition-duration: 1s, 1s;
 -webkit-transition-timing-function: linear, ease-in;
 -webkit-transition: color 1s ease-in;
 }

A:visited {
text-decoration: bold; 
color:#9CBBCF; 
text-shadow: 0px 0px 3px#FFFBF3;
-webkit-transition-duration: 1s, 1s;
 -webkit-transition-timing-function: linear, ease-in;
 -webkit-transition: color 1s ease-in;
 }
 
A:active {
text-decoration: bold; 
color:#9CBBCF; 
text-shadow: 0px 0px 3px#FFFBF3;
-webkit-transition-duration: 1s, 1s;
 -webkit-transition-timing-function: linear, ease-in;
 -webkit-transition: color 1s ease-in;
 }
 
A:hover {
text-decoration: bold; 
color:#FFFBF3; 
text-shadow: 0px 0px 3px#FFFBF3;
-webkit-transition-duration: 1s, 1s;
 -webkit-transition-timing-function: linear, ease-in;
 -webkit-transition: color 1s ease-in;
}

img {
border: none;
filter: alpha(opacity=90);
moz-opacity:.90;
opacity:.90;
-webkit-transition-duration: 1s;
}

img:hover {
border: none;
filter: alpha(opacity=50);
moz-opacity:.50;
opacity:.50 ;
}

::-webkit-scrollbar-thumb:horizontal {background-color:#9EBDD1; height:12px !important;}
::-webkit-scrollbar {height:10px; width:10px; background-color:#9CBBCF;}
::-webkit-scrollbar-thumb:vertical {background-color:#9EBDD1; height:auto;}

::-webkit-scrollbar-track-piece {
  background-color: #9CBBCF; }
::-webkit-scrollbar-thumb:horizontal {
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFBF3), color-stop(100%, #9EBDD1));
  border: 1px solid #9EBDD1;
  border-top: 1px solid #9EBDD1;
  border-left: 1px solid #9EBDD1; }
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #FFFBF3), color-stop(100%, #9EBDD1));
  border: 1px solid #9EBDD1;
  border-top: 1px solid #9EBDD1;
  border-left: 1px solid #9EBDD1; }